html 
    head
        title=name
    body
        body
            a(href = url, target = "_blank")
                h1=name
            br
            img(src = "/me.jpg", alt="Testing Image", width="300", height="auto")
            h2="Internship companies"
            li 
                a(href= companyURL, target = "_blank") #{company}
            li 
                a(href= companyURL1, target = "_blank") #{company1}
            li 
                a(href= companyURL2, target = "_blank") #{company2}